$backgroundColor: #333333;
$mainBackgroundColor: rgba(255, 255, 255, 0);
.back {
  background-color: $mainBackgroundColor !important;
}
.header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5.3rem;
  display: flex;
  z-index: 999999;
  align-items: center;
  justify-content: center;
  background-color: $backgroundColor;
  .logo {
    margin-left: 10.4%;
    text-align: center;
    a {
      font-size: 1.5rem;
    }
  }
  .navigationMenu {
    margin-right: 7.3%;
    display: flex;
    li {
      margin-right: 3.1vw;
      a {
        font-size: 1.2rem;
      }
    }
  }
}
