.item {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: 31px;
  background-color: gray;
}

.SelectorMain {
  margin-left: 5.5vw;
  margin-top: 11vh;
  .projectList {
    margin-left: -40px;
    overflow-y: scroll;
    height: 60vh;
    .innerList {
      width: 312px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
}
