.item {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 7px;
  margin-right: 7px;
  // margin-left: 40px;
  margin-top: 7px;
  background-color: gray;
  float: left;
}

.SelectorMain {
  margin-left: 5.5vw;
  margin-top: 11vh;
  .projectList {
    // margin-left: -40px;
    overflow-y: scroll;
    height: 60vh;
    .innerList {
      position: relative;

      width: 312px;
      display: inline-block;
      // flex-direction: column;
      // align-items: center;
    }
  }
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
}
