.projectView {
  flex: 1;
  .contant {
    display: flex;
    width: 100%;
    .deviceView {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .views {
      font-size: 0.95em;
      margin-top: 1.9vh;
    }
    .leftBtn {
      width: 1.4em;
      height: 2em;
      cursor: pointer;
      background-image: url("../../../assets/nextL.svg");
      background-repeat: no-repeat;
      background-size: contain;
      top: 1em;
      left: 3em;
      position: absolute;
    }
    .rightBtn {
      width: 1.4em;
      height: 2em;
      cursor: pointer;
      background-image: url("../../../assets/nextR.svg");
      background-repeat: no-repeat;
      background-size: contain;
      top: 1em;
      right: 3em;
      position: absolute;
    }
    .views2 {
      font-size: 0.85em;
      margin-top: 0.4em;
      font-weight: bold;
      margin-bottom: 1.5em;
    }
  }
}
.view {
  background-repeat: no-repeat;
  background-size: contain;
  // width: 100px;
  // height: 100px;
}
.viewIPhone {
  width: 38vh;
  height: 80vh;
  position: relative;
  .DeviceView {
    z-index: 100;
    background-image: url("../../../assets/mockup/stensil.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    position: absolute;
    height: 100%;
  }
  .imgView {
    z-index: 99;
    position: absolute;
    width: 79%;
    height: 81%;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 5%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.viewCOMPUTER {
  margin-top: 5vh !important;
  width: 95.6vh;
  position: relative;
  height: 72.8vh;
  .DeviceView {
    z-index: 100;
    background-image: url("../../../assets/mockup/computer_mockup.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    position: absolute;
    height: 100%;
  }
  .imgView {
    z-index: 99;
    position: absolute;
    width: 79%;
    height: 67%;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 2.5%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.viewTablet {
  width: 57vh;
  height: 80vh;
  position: relative;
  .DeviceView {
    z-index: 100;
    background-image: url("../../../assets/mockup/tablet_mockup.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    position: absolute;
    height: 100%;
  }
  .imgView {
    z-index: 99;
    position: absolute;
    width: 82%;
    height: 78%;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 5.5%;
    span {
      display: block !important;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
