.title {
    //NotoSansCJKkr-Black
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.4vh;
}
.subTitle {
    font-size: .95em;
}

.contant {
    display: flex;
    position: relative;
}

.alignRight {
    text-align: end;
}